### This is an allowlist
### Once ignore all
*
!*/

### $XDG_CONFIG_HOME
!/.config/**/*

!/scripts/*.sh
!/data/*.mk
!/config.d/**/*

!/README.md
!/LICENSE
!/Makefile
!.gitignore
!.gitkeep

### Ignore Vim's swap files
.*.sw?
.sw?

