### all ignore ###
/*
/.**

### config
!/.config/
!/.config/**

### bash
!/.bashrc

### fish
!/.config/fish/
!/.config/fish/**
/.config/fish/config.fish.local
/.config/fish/fish_variables
/.config/fish/functions/

### vim
!/.vimrc
!/.vimrc.ime
!/.vim/
!/.vim/*/
!/.vim/vsnip/*.json
!/.vim/rc/
!/.vim/rc/**

### git
!/.gitconfig
!/.gitignore_global

### tmux
!/.tmux.conf

### grub
~/.config/grub/**

### /scripts
!/scripts
!/scripts/**

!/README.md
!/LICENSE
!/Makefile
!/.xinitrc
!.gitignore
!.gitkeep

### Vim's swap files
.*.sw?

